<div class="container">
  <div>success!</div>

  <% unless @player_exists %>
    <%= form_for Player.new, url: player_path, method: 'POST' do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <%= form.submit %>
    <% end %>

  <% end %>
</div>
