// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	/* width: 100%; */
}

.card {
	display: inline-block;
	font-size: 2em;

	width: 17.5%;
	height: 3em;
	margin: 1%;
	padding: 0;
	
	line-height: 3em;
	color: #333;
	background-color: #f5efdc;
}

.card>span {
	background-color: rgba(255,255,255,0.5);
	border-radius: .25em;
	padding: .25em;
}

.neutral {
	
}